---
import { render } from "astro:content";
import { getCollection, getEntry } from "astro:content";

import MarkdownContainer from "@/components/ui/markdown/Container.astro";
import BaseLayout from "@/components/layouts/Layout.Base.astro";
import PageLayout from '@/components/layouts/writing/Page.Layout.astro'

import ResponsiveHeading from '@/components/ui/Heading.Responsive.astro'
import Section from "@/components/ui/Section.astro";
import Spacer from "@/components/ui/Spacer.astro";
import Typography from "@/components/ui/Typography.astro";
import Chip from "@/components/ui/Chip.astro";
import ChipContainer from "@/components/ui/Chip.Container.astro";
import { themeVars } from "@/lib/theme";
import { displayRole, type RoleType } from "@/lib/utils/constants";
import { DateAsString } from "@/lib/utils/date";
import TOC from "@/components/layouts/TOC.astro";
import Item from "@/components/layouts/writing/Item.astro";
import Divider from "@/components/ui/Divider.astro";
import SlideUpDiv from "@/components/ui/SlideUpDiv.astro";

export async function getStaticPaths() {
    const notes = await getCollection("note");

    return notes.map((blog) => {
        const role = blog.id.split("/").at(-2)
        const id = blog.id.split("/").at(-1);
        return {
            params: { idSlug: id, roleSlug: role },
        };
    });
}

const { idSlug: id, roleSlug: role } = Astro.params;
const noteEntry = await getEntry("note", `note/by/${role}/${id}`)!;
const { Content, headings } = await render(noteEntry);

let relatedNotes = (await getCollection("note"))
    .filter(n => 
        (n.data.hasLinksTo.includes(noteEntry.id) && n.id !== noteEntry.id) ||
        noteEntry.data.hasLinksTo.includes(n.id)
    ).slice(0, 5);
---
<BaseLayout
    title={noteEntry.data.title}
    description={`Zane's note on ${noteEntry.data.title}`}
>
    <Section style={{backgroundColor: `rgb(${themeVars.color.primary.background})`}}>
        <Spacer spacing="block" />

        <PageLayout>
            <Fragment slot="content">
                <ResponsiveHeading variant="h2" variantSM="h3" as="h1" 
                    label={noteEntry.data.title}/>
                <Spacer spacing="paragraph" />
                <ChipContainer>
                    {
                        (noteEntry.data.tags ?? []).map(tag => (
                            <Chip>
                                <a href={`/writing/tag/${tag}`}>
                                    <Typography variant="body1">#{tag}</Typography>
                                </a>
                            </Chip>
                        ))
                    }
                </ChipContainer>
                <Spacer spacing="component" />
                <Typography variant="body1" style={{ marginBottom: `var(${themeVars.spacing.component})` }}>
                    <Typography variant="body1" as="span" color="secondary">Created on </Typography>{DateAsString(noteEntry.data["created-date"])}
                    <Typography variant="body1" as="span" color="secondary">, Last Updated on </Typography>{DateAsString(noteEntry.data["last-updated-date"])}
                    <Typography variant="body1" as="span" color="secondary">, By a </Typography>{displayRole(role as RoleType)}
                    <br />
                </Typography>
            </Fragment>
        </PageLayout>

        <Spacer spacing="block"/>

        <PageLayout>
            <Fragment slot="content">
                <MarkdownContainer>
                    <Content />
                </MarkdownContainer>
            </Fragment>
            <Fragment slot="sidePanel">
                {
                    headings.length > 0 && 
                    <>
                        <Typography variant="h6" style={{ marginBottom: "1rem" }}>On this page</Typography>
                        <TOC headings={headings}/>
                    </>
                }
            </Fragment>
        </PageLayout>

        <Spacer spacing="group"/>

        {
            relatedNotes.length > 0 &&
            <>
                <Divider/>
                <Spacer spacing="block"/>
                <PageLayout>
                    <Fragment slot="content">
                        <Typography variant="h4">Read More</Typography>
                        <Spacer spacing="component"/>

                        <div style={{ display: "flex", gap: themeVars.spacing.paragraph, flexDirection:"column"}}>
                            {
                                relatedNotes.map(item => {
                                    const role = item.id.split("/").at(-2) as RoleType;
                                    return <>
                                        <Item href={"/" + item.id} data={{
                                            date: item.data['created-date'], 
                                            role: role,
                                            title: item.data.title,
                                            tags: item.data.tags,
                                        }}/>
                                        <SlideUpDiv><Divider/></SlideUpDiv>
                                    </>
                                })
                            }
                        </div>
                    </Fragment>

                </PageLayout>
                <Spacer spacing="group"/>
            </>
        }
    </Section>
</BaseLayout>

<style>

</style>