---
import BaseLayout from '@/components/layouts/Layout.Base.astro';

import StickyHero from '@/components/layouts/StickyHero.astro';
import ContentSection from '@/components/layouts/Section.Content.astro'
import TitleSection from '@/components/layouts/Section.Title.astro'
import ResponsiveHeading from '@/components/ui/Heading.Responsive.astro'
import ProjectCard from '@/components/layouts/project/Card.astro'
import WritingCollection from "@/components/layouts/writing/Collection.astro"

import Grid from '@/components/ui/Grid.astro';
import SlidingDownIcon from '@/components/ui/SlidingDownIcon.astro';
import Spacer from '@/components/ui/Spacer.astro';
import Typography from '@/components/ui/Typography.astro';
import SlideUpDiv from "@/components/ui/SlideUpDiv.astro";
import MarkdownBlock from '@/components/ui/markdown/Block.astro';
import CardContainer from '@/components/ui/Card.Container.astro';

import { SITE_DESCRIPTION, SITE_TITLE, type RoleType } from '@/lib/utils/constants';
import { themeVars } from '@/lib/theme';
import { getHomePage } from '@/lib/cms/globals'
import Section from '@/components/ui/Section.astro';
import Divider from '@/components/ui/Divider.astro';
import { getCollection } from 'astro:content';
import Button from '@/components/ui/Button.astro';
import Item from '@/components/layouts/writing/Item.astro';
import ExtendingButton, {hoverContext as buttonHoverContext} from '@/components/ui/ExtendingButton.astro';

const homepageGlob = await getHomePage();
const blogs = (await getCollection("blog"))
  .filter(b => b.data.featured)
  .toSorted((b1, b2) => b2.data['created-date'].getTime() - b1.data['created-date'].getTime());
const archProjects = (await getCollection("archProject"))
  .filter(b => b.data.featured);
const devProjects = (await getCollection("devProject"))
  .filter(b => b.data.featured);
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <StickyHero>
        <Grid columns={3}>
          <SlideUpDiv style={{ gridColumn: "span 2 / span 2" }}>
            <Typography variant='h4' as="h2">
              Precision in detail, vision in design, <br />
              building things one block at a time.
            </Typography>
          </SlideUpDiv>
        </Grid>

        <Spacer style={{ flex: "1 1" }} />
        <SlidingDownIcon />
        <Spacer />
        <SlideUpDiv>
          <Typography variant='h1'>
            <svg width={"100%"} viewBox="0 0 45 7">
              <title id="ZANE_CHEN">ZANE CHEN</title>
              <text class:list={["SVGText"]} x="50%" y="50%"
                textLength={45} lengthAdjust="spacingAndGlyphs"
                font-weight={700} font-size="7.2px"
                dominant-baseline="middle" text-anchor="middle"
              >
                ZANE CHEN
              </text>
            </svg>
          </Typography>
        </SlideUpDiv>	
    </StickyHero>

	  <!-- Who Am I -->
    <ContentSection>
      <Typography variant='h5' color="secondary" id="who_am_i" slot={"header"}>
          Who am I?
      </Typography>
      <SlideUpDiv style={{ gridColumn: "span 2 / span 2" }}>
        <MarkdownBlock content={homepageGlob.whoAmI} variant='keywordHighlighted'/>
      </SlideUpDiv>
    </ContentSection>

    <!-- Writings -->
    <TitleSection>
      <ResponsiveHeading label='WRITINGS' id="writings" variant="h2" variantSM="h4"/>
    </TitleSection>
    <WritingCollection writings={blogs} title="Featured Blogs">
      <a href={"/blog"}>
        <SlideUpDiv class:list={[buttonHoverContext]} 
          style={{fontSize:themeVars.typographies.h6, textAlign: "end"}}>
          <ExtendingButton label='All Blogs'/>
        </SlideUpDiv>
      </a>
    </WritingCollection>

    <!-- Developers -->
    <TitleSection>
      <ResponsiveHeading label='NOW A SOFTWARE ENGINEER' id="as_a_developer" variant="h2" variantSM="h4"/>
    </TitleSection>
    <Section style={{backgroundColor: `rgb(${themeVars.color.primary.background})`}}>
      <Divider />
      <CardContainer columns={2}>
        {
          devProjects.map(proj => (
            <ProjectCard project={proj}/>
          ))
        }
      </CardContainer>
    </Section>
    <Section style={{
      backgroundColor: `rgb(${themeVars.color.primary.background})`,
      display: "flex", flexDirection: "column", alignItems: "center",
      padding:`${themeVars.spacing.group} 0`
    }}>
      <SlideUpDiv >
        <a href="/project/by/developer">
          <Button variant="outlined">
            View All Projects
          </Button>
        </a>
      </SlideUpDiv>
    </Section>

    <!-- Architect -->
    <TitleSection>
      <ResponsiveHeading label='ONCE AN ARCHITECT' id="as_an_architect" variant="h2" variantSM="h4"/>
    </TitleSection>
    <Section style={{backgroundColor: `rgb(${themeVars.color.primary.background})`}}>
      <Divider />
      <CardContainer columns={2}>
        {
          archProjects.map(project => (
            <ProjectCard project={project}/>
          ))
        }
      </CardContainer>
    </Section>
    <Section style={{
      backgroundColor: `rgb(${themeVars.color.primary.background})`,
      display: "flex", flexDirection: "column", alignItems: "center",
      padding:`${themeVars.spacing.group} 0`
    }}>
      <SlideUpDiv >
        <a href="/project/by/architect">
          <Button variant="outlined">
            View All Projects
          </Button>
        </a>
      </SlideUpDiv>
    </Section>

    <!-- Ending -->
    <Section style={{backgroundColor: `rgb(${themeVars.color.primary.background})`}}>
      <SlideUpDiv>
        <Typography variant='h1'>
          <svg width={"100%"} viewBox="0 0 45 7">
            <title id="ZANE_CHEN">ZANE CHEN</title>
            <text class:list={["SVGText"]} x="50%" y="50%"
              textLength={45} lengthAdjust="spacingAndGlyphs"
              font-weight={700} font-size="7.2px"
              dominant-baseline="middle" text-anchor="middle"
            >
              ZANE CHEN
            </text>
          </svg>
        </Typography>
      </SlideUpDiv>	
    </Section>

</BaseLayout>


<style>
.SVGText {
    fill: rgb(var(--color-primary-foreground));
    font-family: var(--typography-h1-fontFamily);
    user-select: none;
}

.ResponsiveTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    
    @media(--larger-than-md) { 
        flex-direction: row;
        align-items: flex-end 
    }
}

.NavigationCard {
    p {
        position: absolute;
        bottom: var(--spacing-paragraph);
        right: var(--spacing-paragraph);
    }
}
</style>