---
import { render } from "astro:content";
import { getCollection, getEntry } from "astro:content";
import { Image } from 'astro:assets';

import MarkdownContainer from "@/components/ui/markdown/Container.astro";
import BaseLayout from "@/components/layouts/Layout.Base.astro";
import StickyHero from '@/components/layouts/StickyHero.astro';
import PageLayout from '@/components/layouts/writing/Page.Layout.astro'

import ResponsiveHeading from '@/components/ui/Heading.Responsive.astro'
import Section from "@/components/ui/Section.astro";
import Spacer from "@/components/ui/Spacer.astro";
import Typography from "@/components/ui/Typography.astro";
import Chip from "@/components/ui/Chip.astro";
import ChipContainer from "@/components/ui/Chip.Container.astro";
import { themeVars } from "@/lib/theme";
import { displayRole, type RoleType } from "@/lib/utils/constants";
import { DateAsString } from "@/lib/utils/date";
import Divider from "@/components/ui/Divider.astro";
import TOC from "@/components/layouts/TOC.astro";
import Item from "@/components/layouts/writing/Item.astro";
import SlideUpDiv from "@/components/ui/SlideUpDiv.astro";

export async function getStaticPaths() {
    const blogs = await getCollection("blog");

    return blogs.map((blog) => {
        const role = blog.id.split("/").at(-2)
        const id = blog.id.split("/").at(-1);
        return {
            params: { idSlug: id, roleSlug: role },
        };
    });
}

const { idSlug: id, roleSlug: role } = Astro.params;

const blogEntry = await getEntry("blog", `blog/by/${role}/${id}`)!;
const coverImage = import.meta.glob<{ default: ImageMetadata }>(
    `/src/contents/Media/**`)[`/src/contents/${blogEntry.data.cover}`];


let recentBlogs = (await getCollection("blog"))
    .filter(b => b.id !== blogEntry.id && b.id.startsWith(`blog/by/${role}/`))
    .toSorted((b1, b2) => b2.data["created-date"].getTime() - b1.data["created-date"].getTime())
    .slice(0, 4);

const { Content, headings } = await render(blogEntry);
---
<BaseLayout
    title={blogEntry.data.title}
    description={blogEntry.data.description}
    image={`/blog/by/${role}/${id}/og.jpeg`}
>
    <Image
        src={coverImage()}
        alt={`Featured image for ${blogEntry.data.title}`}
        class="hero-background-image"
    />
    <div class="hero-background-overlay" />
    <StickyHero>
        <PageLayout>
            <Fragment slot="content">
                <ResponsiveHeading variant="h2" variantSM="h3" as="h1"
                    label={blogEntry.data.title}/>
                <Spacer spacing="paragraph" />
                <Typography variant="h6" as="h2" color="secondary">{blogEntry.data.description}</Typography>
                <ChipContainer style={{marginTop: themeVars.spacing.paragraph}}>
                    {
                        (blogEntry.data.tags ?? []).map(tag => (
                            <Chip>
                                <a href={`/writing/tag/${tag}`}>
                                    <Typography variant="body1">#{tag}</Typography>
                                </a>
                            </Chip>
                        ))
                    }
                </ChipContainer>
                <Spacer spacing="component" />
                <Typography variant="body1" style={{ marginBottom: `var(${themeVars.spacing.component})` }}>
                    <Typography variant="body1" as="span" color="secondary">Created on </Typography>{DateAsString(blogEntry.data["created-date"])}
                    <Typography variant="body1" as="span" color="secondary">, Last Updated on </Typography>{DateAsString(blogEntry.data["last-updated-date"])}
                    <Typography variant="body1" as="span" color="secondary">, By a </Typography>{displayRole(role as RoleType)}
                    <br />
                </Typography>
            </Fragment>
        </PageLayout>
    </StickyHero>
    
    <Section style={{backgroundColor: `rgb(${themeVars.color.primary.background})`}}>
        <Divider/>
        <Spacer spacing="block"/>
        <PageLayout>
            <Fragment slot="content">
                <MarkdownContainer>
                    <Content />
                </MarkdownContainer>
            </Fragment>
            <Fragment slot="sidePanel">
                {
                    headings.length > 0 && 
                    <>
                        <Typography variant="h6" style={{ marginBottom: "1rem" }}>On this page</Typography>
                        <TOC headings={headings}/>
                    </>
                }
            </Fragment>
        </PageLayout>

        <Spacer spacing="group"/>

        {
            recentBlogs.length > 0 &&
            <>
                <Divider/>
                <Spacer spacing="block"/>
                <PageLayout>
                    <Fragment slot="content">
                        <Typography variant="h4">Related</Typography>
                        <Spacer spacing="component"/>

                        <div style={{ display: "flex", gap: themeVars.spacing.paragraph, flexDirection:"column"}}>
                            {
                                recentBlogs.map(item => {
                                    const role = item.id.split("/").at(-2) as RoleType;
                                    return <>
                                        <Item href={"/" + item.id} data={{
                                            date: item.data['created-date'], 
                                            role: role,
                                            title: item.data.title,
                                            tags: item.data.tags,
                                            description: item.data.description,
                                        }}/>
                                        <SlideUpDiv><Divider/></SlideUpDiv>
                                    </>
                                })
                            }
                        </div>
                    </Fragment>

                </PageLayout>
                <Spacer spacing="group"/>
            </>
        }
    </Section>
</BaseLayout>

<style>
    .hero-background-image {
        position: fixed;
        z-index: -3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        filter:  opacity(0.5); //TODO: adjust brightness as needed
    }

    .hero-background-overlay {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        background: linear-gradient(
            to bottom,
            rgba(var(--color-primary-background) / 0.4) 0%,
            rgba(var(--color-primary-background) / 1) 95%
        );
    }
</style>